@font-face {
    font-family: 'Roboto';
    src: url('/Fonts/Roboto/Roboto-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header{
	top:0;
  	height: 5.5em;
  	width: 100%;
    box-shadow: 0px 1px 7px -2px;
    position: fixed;
} 

.left_side{ 
	background: white;
	float: left;
	width: 24%;
	height: 100%;
	align-items: center;
	position: absolute;
	display: flex;
}
.NameText{
	margin-left: 23px;
	font-size: 24px;
}

.pict1{
	width:81px;
	height: 75px;
	margin-top:4pt;
	margin-left:15pt; 
}

.right_side{
	height: 100%;
	width: 76%;
	float: right;
	background: linear-gradient(to left,#0052D0 99.65%, #FCDE06 99.6%);
	color: white;
	align-items: center;
	display: flex;
}

.name1{
	margin-left: 31px;
	font-size: 24px;
}

.num{
	text-decoration: none; 
	color: white;
	margin-left: 2em;
}

.num:hover{
	color: #FFFF00; 
}

.middle_side{
	margin-top: 4.5em;
	height: 100%;
	width: 100%;
	line-height: 37px;
}

.content{
	margin-left: 2.5em;
}
p{
	margin-bottom: -1em;
}
.text_one{
	padding-top: 1em;
}

.block{
    background-color:#F2C94C;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    line-height: 40px;
}

footer{
	background: black;
}

.forma{
	margin-top: 3em;
	width: 25%;
	line-height: 1;

}
.forma_one{
	margin-top: 10px;
	background: rgb(244,236,236);
	border: 1px solid rgb(184,184,184);
	border-radius: 5px;
	width: 100%;
	height: 45px;
	margin-bottom: 1em;
	outline:none;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

.forma_one:focus{
	border: 2px solid rgb(184,184,184);
}

::placeholder{
	color: rgb(184,184,184);
	font-size:18px;
	text-align: center;
}

.send{
	background: rgb(0,82,208);
	width: 100%;
	border-radius: 5px;
	height: 45px;
	color: white;
	margin-bottom: 3em;
	border: none;
	font-weight: bold;
	font-size: 18px;
}
